body {
	background-color: lightgray;
	padding-left: 25px;
	padding-right: 100px;
}

#pageheading {
	font-family: Georgia;
	font-size: 35px;
	color: blue;
	text-align: center;
}

.subheading {
	font-family: Georgia;
	font-size: 25px;
	color: black;
}

p {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 20px;
}

ol {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 25px;
	max-width: 80%
}

#discography {
	font-family: Helvetica;
	font-size: 14px;
	line-height: 20px;
}

.caption {
	font-family: Georgia;
	font-size: 10px;
}

#kanye {
	 width:300px;
	 height: 400px;
}

.readnext {
	font-style: italic;
	color: blue; 
}

a:link{
	text-decoration: none;

}
a:hover {
	text-transform: uppercase;
}